---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Submit">
    <main>
        <h1>The form is submitted</h1>
    </main>
</Layout>

<style>
    main {
        padding-left: 80px;
        padding-top: 100px;
        background-color: rgb(84, 84, 197);
        min-height: 100vh;
    }
    h1 {
        font-size: 50px;
        text-align: center;
        color: white;
    }
</style>
